html {
    background-color: #838383;
}
h1 {
    color: lightgrey;
}
h2 {
    color: lightgrey;
    text-align: justify;
}
h3 {
    color:lightgrey;
    text-align: justify;
}
body {
    background: #333333;
    margin: 3%;
    padding: 3%;

}

